body {
    background-image: url(https://i.pinimg.com/originals/42/8b/f6/428bf69720a90c6a1e069678b40844d5.jpg);
}
.container{
    padding-top: 200px;
    padding-left: 250px;
    
}
.registration {
    color: white;
} 

.login{
    padding-left: 60px;
    color:white;
}

.img {
    display: flex;
    justify-content: flex-end;
    width: 75%;
}

label {
    float: left;
    width: 100px;
}

h1 {
    color: white;
}

p {
    color:white;
}